<h1 id="body_content_title">Gallery</h1>

<ul class="thumbnails">
<% @sets.each do |set| %>
  <li class="span2">
    <%= link_to gallery_set_path(set) do %>
      <div class="thumbnail">
          <%= image_tag set[:primary_photo_url], :alt => set[:title] %>
      </div>
      <small><%= set[:title] %></small>
    <% end %>
  </li>
<% end %>
</ul>
