<h1 id="body_content_title">Gallery: <%= @set[:title] %></h1>

<p><%= link_to_gallery_home %></p>

<div class="text-center">
<% @photos.each do |photo| %>
  <p><%= image_tag photo[:url], :class => 'img-polaroid' %></p>
<% end %>
</div>

<p><%= link_to_gallery_home %></p>
